html
	head
		title エントリーのテスト
	body
		form(method="post", action="/entry")
			input(type="text", name="playername", placeholder="名前")
			input(type="submit", name="color", value="Red")
			input(type="submit", name="color", value="Blue")